{% comment %} connected_docs.html {% endcomment %}
{% if doc.is_storno and doc.storno_of %}
  <div class="alert alert-warning py-1 mb-2">
    ↩ <strong>Storno fakture </strong>
    <a href="#" class="related-doc-link" data-doc-id="{{ doc.storno_of.id }}">
     {{ doc.storno_of.dok_br }}
    </a>
  </div>
{% elif doc.storno_docs.exists %}
  <div class="alert alert-danger py-1 mb-2">
    ↪ <strong>Storno dokument:</strong>
      {% for s in doc.storno_docs.all %}
          <a href="#" class="related-doc-link" data-doc-id="{{ s.id }}">
           {{ s.dok_br }}
          </a>
      {% endfor %}
  </div>
{% endif %}

{% if doc.dok_tip == "OTP" and doc.faktura %}
  <h6 class="mb-1 text-muted">Povezana faktura:</h6>
  <a href="#" class="related-doc-link" data-doc-id="{{ doc.faktura.id }}">
    {{ doc.faktura.dok_tip }} #{{ doc.faktura.dok_br }}
  </a>
{% elif doc.dok_tip == "IZF" and doc.otpremnice.exists %}
  <h6 class="mb-1 text-muted">Povezane otpremnice:</h6>
  <ul class="mb-0">
    {% for otp in doc.otpremnice.all %}
    <li>
      <a href="#" class="related-doc-link" data-doc-id="{{ otp.id }}">
        {{ otp.dok_tip }} #{{ otp.dok_br }}
      </a>
    </li>
    {% endfor %}
  </ul>
{% elif not doc.is_storno and not doc.storno_docs.exists and not doc.faktura and not doc.otpremnice.exists %}
  <p class="text-muted mb-0">Nema povezanih dokumenata.</p>
{% endif %}