{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card shadow-sm p-4" style="max-width: 350px;">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_username" class="form-label">Korisničko ime</label>
                <input type="text" name="username" autofocus required class="form-control" id="id_username">
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">Lozinka</label>
                <input type="password" name="password" required class="form-control" id="id_password">
            </div>
            <button type="submit" class="btn btn-primary w-100">Prijava</button>
        </form>
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                Neispravno korisničko ime ili lozinka
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
